# Introduction to Python, numpy, and pandas

Functions, Lambdas, and Map/Reduce

more about functions

In [ ]:
def capitalize(str): 
    t = str.strip()
    return t[0].upper() + t[1:].lower()

In [ ]:
a = capitalize('abcDEF')
print(f'{a}')

#### Quiz !
print the result as "ABcdef" ( capitalize the first two chars)
with the double quotes

In [ ]:
# your code here

# Map
let us apply the above function on list

In [ ]:
a= ['abc   ', '   def', '  klm ', '  no p  ']
for s in a:
    b = capitalize(s)
    print(f'"{b}"')

The `map()` function applies a given function to each item of `(list, tuple etc.)` and returns an iterator of the same size. The item is sent to the function as a parameter.

In [ ]:
list(map(capitalize, a))

anonymous un-named function Lambda
An anonymous function contain a single expression which must return a value.

In [ ]:
def triple1(x):
    return x * 3

print(triple1(10))

In [ ]:
triple2 = lambda x : x * 3
print(triple2(10))

# Reduce
The `reduce()` function cumulatively applies the function to items of an iterator, the result is a single value.
let us caculate the sum of list
first we should import `reduce` function from the `functools`

In [ ]:
from functools import reduce

a = list(range(1,11))
def sum(first, second):
    return first + second

total = reduce(sum, a)
total # in ipython this will be printed

In [ ]:
total1 = reduce(lambda x,y: x+y, a) 
print(total1)

# Numpy - Numerical Python
NumPy (Numerical Python) is an open source Python library that’s used in almost every field of science and engineering.  
The NumPy library contains multidimensional array and matrix data structures. It provides ndarray, a homogeneous n-dimensional array object  
In order to install numpy 
`pip install numpy`
for anaconda environment
`conda install numpy`

numpy provides vector, matrix and higher-dimensional data structures for Python

## Creating numpy arrays
and some useful functions

In [ ]:
import numpy as np
a = list(range(1,11))
b = np.array(a)
print( b )
print(type(b))
print(f"dtype: {b.dtype}")
print(f"shape: {b.shape}")
print(f"dimensions: {b.ndim}")
print(f"size: {b.size}")

another way to create np array

In [ ]:
c = [a, a, a, a]
print( c )
print(type(c))

d = np.array(c)
print( d )
print(type(d))
print(d.shape)

#### deleting variables

In [ ]:
del a, b, c, d

using numpy arange

In [ ]:
a = np.arange(1,11)
a

zero vector and matrix

In [ ]:
b = np. zeros(3)
b

In [ ]:
c = np.zeros([3, 5])
c

 The ones() function is used to get a new array of given shape and type, filled with ones.

In [ ]:
np.ones((6,6))

array of given shape and type, without initializing entries.

In [ ]:
np.empty((3,3))

Create an array of the given shape and populate it with random samples from a uniform distribution over [0, 1).

In [ ]:
np.random.rand(4)

Create an array of the given shape and populate it withrandom floats sampled from a univariate “normal” (Gaussian) distribution of mean 0 and variance 1

In [ ]:
np.random.randn(4)

Randomly permute a sequence, or return a permuted range.

In [ ]:
np.random.permutation(range(1,10,1))

ploting using matplotlib

In [ ]:
from matplotlib import pyplot as plt 
x= np.arange(1,1001)
y = np.random.rand(1000)
plt.title("Ploting random numbers") 
plt.xlabel("count") 
plt.ylabel("value") 
plt.plot(x, y,".g")

create an array that evenly spaced numbers over a specified interval.

In [ ]:
a = np.linspace(0, 10, 20)
a

### loading and saving variables 

Save an array to a binary file in NumPy .npy format.

*np.save('filename', a)  
variable = np.load('filename.npy')*

In [ ]:
np.save("our file.npy", a)

reset the environment

In [ ]:
reset

In [ ]:
import numpy as np

In [ ]:
b = np.load("our file.npy")

In [ ]:
b

deleting varable

In [ ]:
del b

changing the shape of an array without changing its data.

In [ ]:
b = np.arange(1,17)
b

In [ ]:
b = b.reshape(4,4)
b


## Indexing and Slicing

We can access individual elements of arrays as well as "slices" using square brackets and `:`.

In [ ]:
b[1:4, 2:]

In [ ]:
b[::2,::2]

Basic array operations using an example

In [ ]:
d = b
f =d + np.random.rand(4,4) * 1
print(f.size)

let us calculate the root mean square error  

\begin{equation}
 RMSE = \sqrt{(\frac{1}{n})\sum_{i=1}^{n}(d_{i} - e_{i})^{2}}
\end{equation}

In [ ]:
rmse = np.sqrt(np.sum(np.square(d-f))/ d.size)
print(rmse)

# Pandas

NumPy is that it is difficult to work with data that is heterogenous (that is, of mixed data types). 
The two primary data structures are the Series (one-dimensional arrays
It is based on the [dataframe](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html) concept found in the [R programming language](https://www.r-project.org/about.html).

 [Cheatsheet](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf) is avialable

### Series

Series are one-dimensional arrays in elements have indexes (essentially labels). They can be created in  a number of ways, including from a Python dictionary. If no indexes are provided when defined, then integer indexes 0, 1, 2, ..., are used. Series can also be given names.

In [ ]:
import numpy as np

import pandas as pd

In [ ]:
s = pd.Series(['a', 'b', 'c', 'd', 'e'])
print(s)
print('-'*40)
print(s[1])

In [ ]:
 pd.Series(1, index=list(range(6)), dtype="float32")

In [ ]:
s1 = pd.Series({'first': 'Ali' , 'second': 'Ahmed', 'thrid':'noor' })
print(s1)
print(s1['second'])

## DataFrames

DataFrame objects can be viewed as two-dimensional arrays--rows and columns in which the columns may be of different data types. You can create a DataFrame in one of several ways. One way is simply to pass a tabular structure of data (a nested list, or a NumPy ndarray).

Object creation

In [ ]:
b = np.arange(1,17)
b = b.reshape(4,4)
df = pd.DataFrame(b)
df

You can specify labels for the indexes and columns.

In [ ]:
b = np.arange(1,17)
b = b.reshape(4,4)
ix= list('ABCD')
df = pd.DataFrame(b, index=ix, columns=['first', 'second', 'thrid', 'fourth'])
print(df)

In [ ]:
print(df['first'])
print(df.query("second>5"))

Creating a DataFrame by passing a dictionary of objects:

In [ ]:
df = pd.DataFrame({'key':['A','B','C','A','B','C','A','B','C'],
                   'data': [0, 5, 10, 5, 10, 15, 10, 15, 20]})
df

describe() shows a quick statistic summary of your data:

In [ ]:
df.describe()

useful functions

In [ ]:
print('mean', df.mean(),
        'var', df.var(),
        'sdev', df.std(),
        'median', df.median(),
        'index',df.index )

In [ ]:
print('mean', df['data'].mean(),
        'var', df['data'].var(),
        'sdev', df['data'].std(),
        'median', df['data'].median())

## Accessing, and manipulating columns
Generating new dataframe

In [ ]:
s=[]
s.append(('mean',df['data'].mean()))
s.append(('var', df['data'].var()))
s.append(('sdev', df['data'].std()))
df2 = pd.DataFrame(s)
df2

In [ ]:
select= np.random.rand(len(df)) >.7
print(select)
df[select]

In [ ]:
df.values

In [ ]:
df['data'].values

In [ ]:
df.T

## File input and output

In [ ]:
import os
import pandas as pd
import numpy as np

path = "."
read_filename = os.path.join(path, "data/x_test.csv")
df = pd.read_csv(read_filename)

write_filename = os.path.join(path, "data/testwrite.csv")
df = df.reindex(np.random.permutation(df.index))
df.to_csv(write_filename, index=False) # Specify index = false to not write row numbers

CSV files are text and can be used by a variety of software programs.  However, they do take longer to generate and can sometimes lose small amounts of precision in the conversion.  Another format is [Pickle](https://docs.python.org/3/library/pickle.html).  Generally you will output to CSV because it is very compatible, even outside of Python.  The code below stores the Dataframe to Pickle.

In [ ]:
import pickle
with open('./data/dataframe.pkl',"wb") as fp:
    pickle.dump(df, fp)

In [ ]:
with open('./data/dataframe.pkl',"rb") as fp:
    df2 = pickle.load(fp)
df2.head()

indexing

In [ ]:
x = pd.read_csv('./data/x_test.csv')
x.head()

In [ ]:
x.tail(6)

In [ ]:
x.describe()

In [ ]:
x[1:3]

In [ ]:
x['brand']

In [ ]:
x[['brand', 'mileage']]

In [ ]:
x[0:3]

In [ ]:
x['engineSize']

In [ ]:
print(f"Before drop: {list(x.columns)}")
x.drop('carID', axis=1, inplace=True)
print(f"After drop: {list(x.columns)}")

In [ ]:
c1 = x[['brand', 'model']]
c2 = x['mileage']

## Concatenating Rows and Columns
Rows and columns can be concatenated together to form new data frames.  The code below creates a new dataframe from name and horsepower from the Auto MPG dataset.  This is done by concatenating two columns together.

In [ ]:
newx = pd.concat([c1, c2], axis=1)
display(newx[0:10])

### Systematic indexing with `loc` and `iloc`

When using `[]` like above, you can only select from one axis at once (rows or columns, not both). For more advanced indexing, you have some extra attributes:
    
* `loc`: selection by label
* `iloc`: selection by position

In [ ]:
r1= x.loc[0:2]
r2 = x.iloc[5:8]
ynew= pd.concat([r1, r2], axis=0)

In [ ]:
ynew

In [ ]:
x.iloc[0:2,1:3]

# Next lecture 

## - Neural Network and Deep Learning